/**
 * FileName: style.css
 * Author: Nicholas Lin
 * Date: 3/3/20
 * Description: Provide main styling for html pages
 * /


/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* {
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
}

/* Scroll container CSS */
.scroll-container {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

/*Add hover effect for list items*/
.list-group-item:hover {
    box-shadow: inset 1.5px 1.5px 3px 3.75px rgba(0,0,0,0.2);
}

/* Custom header */
.header {
	width: 100%;
	margin-bottom:15px;
	padding: 25px;
	text-align: center;
	background: linear-gradient(144deg, rgba(170,219,199,1) 0%, rgba(104,236,229,1) 22%, rgba(0,179,255,1) 100%);
	color: rgba(255, 255, 255, 0.801);
	font-weight: 700;
	font-size: 40px;
  }

  /* Custom result number CSS in header */
   #result-number{
	font-size: 70px;
	color: rgb(255, 255, 255);
	font-weight: 800;
}  

/* Custom footer */
  .footer {
	width: 100%;
	margin-top:10px;
	padding: 5px;
	text-align: center;
	background: rgb(237,226,205);
	background: linear-gradient(150deg, rgba(237,226,205,1) 0%, rgba(97,215,226,1) 30%, rgba(13,111,187,1) 100%);
	color: black;
	word-spacing: 2px;
	font-weight: 40;
	font-size: 12px;
  }


/* Results list */
.list-group{
	flex-grow: 1;
	margin-left: 10px;

  	overflow: auto;
  	min-height: 0;
}

/* Formatting for Google Maps */
#map {
	height: 100%;
	width: 100%;
}

/* Custom styling for star ratings */
.stars-outer {
	position: relative;
	display: inline-block;
  }
  
  .stars-inner {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
  }
  
  .stars-outer::before {
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #ccc;
  }
  
  .stars-inner::before {
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #f8ce0b;
  }

/* Form configuration */

input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 25px;
	line-height: 20px;
	padding: 15px 30px 16px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	opacity: 0.9;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.text-input {
	width: 100%;
	text-align: left;
}

/* Buttons Stylings */
.btn-conf {
	border-radius: 50px;
	margin-top: 30px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 18px 28px 17px 28px;
	}

.btn-conf-2 {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 12px 28px 11px 28px;
	margin-top: 20px;
	}

	.btn-conf-3 {
		border-radius: 50px;
		margin-right: 0px;
		font-size: 13px;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 12px 18px 12px 18px;
	}
	.btn-blue-landing {
		background: rgb(62, 169, 240);
		color: white
	}

.btn-blue {
	background: rgb(62, 169, 240);
	color: white
}
.btn-blue:hover{
	background-color: white; 
	color: black; 
	border: 2px solid rgb(35, 141, 211);
  }

/* Styling for Checkbox Button */
.btn-checked{
	border-radius: 50px;
	margin-top: 0px;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 12px 18px 12px 18px;
	background: rgb(156, 215, 255);
	color: white
}
.btn-checked:active,
.btn-checked.active{
  color: #fff;
  background-color: rgb(28, 75, 107);
  box-shadow: inset 1.5px 1.5px 3px 3.75px rgba(0,0,0,0.2);

}


/* Background for landing page */
.landingbackground{
	/*Formatting background*/
	background: 
	linear-gradient(
      rgba(106, 213, 255, 0.826), 
      rgba(255, 255, 255, 0.826)
    ),
	/* The image used */
	url("../img/background.jpg");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Landing page styling */
#h {
	/*background: url(../img/header.jpg) no-repeat center top;*/
	padding-top: 180px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	color: black;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	display: flex;
	position: relative;
}

#h h1 {
	font-weight: 700;
	color: black;
	font-size: 40px;
}

/* Basic styling */

body {
	background: #fff;
	margin: 0;
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: black
}

p {
	padding: 0;
	margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1px;
	color: black;
	margin-top: 10px;
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 10px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}