/**
 * FileName: style.css
 * Author: Nicholas Lin
 * Date: 3/3/20
 * Description: Provide main styling for html pages
 * /


/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* {
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
}

.top-buffer { margin-top:20px; }

/*Add hover effect for list items*/
.list-group-item:hover {
    box-shadow: inset 1.5px 1.5px 3px 3.75px rgba(0,0,0,0.2);
}

.header {
	padding: 30px;
	text-align: center;
	background: rgb(170,219,199);
	background: linear-gradient(144deg, rgba(170,219,199,1) 0%, rgba(104,236,229,1) 22%, rgba(0,179,255,1) 100%);
	color: white;
	font-weight: 700;
	font-size: 40px;
  }

/*Enables scrolling for lists*/
.list-group{
	/*Make scalable height*/
    max-height: 500px;
	margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}


/*Uncomment for fill height*/
/*
body {
    height: 100%;
    width: 100%;
    position: absolute;
}

.container-fluid,
.row-fluid { height: inherit; }

.background{
	background-image: 
	linear-gradient(
      rgba(176, 233, 255, 0.826), 
	  rgba(163, 7, 7, 0.826)
    )
}*/

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  
#map {
	height: 100%;
	width: 100%;
}

.spacer5 {
	height: 10px;
  }

.stars-outer {
	position: relative;
	display: inline-block;
  }
  
  .stars-inner {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
  }
  
  .stars-outer::before {
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #ccc;
  }
  
  .stars-inner::before {
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #f8ce0b;
  }



.bg {
	/* The image used */
	background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  
	/* Full height */
	height: 100%;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

body {
	background: #fff;
	margin: 0;
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: black
}

#result h5 {
	color: #666;
}

.result:hover {
	background-color: #d9d9d9;
}

hr {
	width:90%;
	height:1px;
	background: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}

#logo {
	height: 100px;
	width: 200px;
	overflow: hidden;
}

p {
	padding: 0;
	margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1px;
	color: black;
	margin-top: 10px;
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 10px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: rgb(35, 141, 211);
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}



.nopadding {
	padding: 0px !important;
	margin: 0px;
}


/* FORM CONFIGURATION */

input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 25px;
	line-height: 20px;
	padding: 15px 30px 16px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	opacity: 0.9;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.text-input {
	width: 100%;
	text-align: left;
}

@media screen and (max-width: 767px) {
	.subscribe-input {
		width: 100%;
	}
}

.subscribe-submit {
	right: 0;
}

.btn-download {
	background: #FDE3A7;
}

/*Buttons Configuration */
.btn-conf {
	border-radius: 50px;
	margin-top: 30px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 18px 28px 17px 28px;
	}

.btn-conf-2 {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 12px 28px 11px 28px;
	margin-top: 20px;
	}

	.btn-conf-3 {
		border-radius: 50px;
		margin-right: 0px;
		font-size: 13px;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 12px 18px 12px 18px;
	}
	.btn-blue-landing {
		background: rgb(62, 169, 240);
		color: white
	}

.btn-blue {
	background: rgb(62, 169, 240);
	color: white
}
.btn-blue:hover{
	background-color: white; 
	color: black; 
	border: 2px solid rgb(35, 141, 211);
  }

.landingbackground{
	/*Formatting background*/
	background: 
	linear-gradient(
      rgba(106, 213, 255, 0.826), 
      rgba(255, 255, 255, 0.826)
    ),
	/* The image used */
	url("../img/background.jpg");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



/* HEADER SECTION */
#h {
	

	/*background: url(../img/header.jpg) no-repeat center top;*/
	padding-top: 180px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	color: black;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	display: flex;
	position: relative;
}

#h .logo {
	top: 30px;
	left: 45px;
	font-size: 18px;
	font-weight: 900;
	height:80px;
	margin-top:10px;
	position:absolute;
}

#h .logo img {
	height: 100%;
}

#h .social {
	top: 30px;
	right: 45px;
	font-size: 20px;
	position: absolute;
}

#h .social i {
	margin-left: 20px;
}

#h .social a {
	color: white;
}

#h h1 {
	font-weight: 700;
	color: black;
	font-size: 40px;
}


/* SEP */
#sep {
	background: url(../img/sep.jpg) no-repeat center top;
	padding-top: 90px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	color: white;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sep h4 {
	letter-spacing: 1px;
	line-height: 30px;
	margin-top: 30px;
}

/* FOOTER */
#f {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #2f2f2f;
	color: white;
}

#f h5 {
	margin-top: 30px;
	letter-spacing: 1px;
}

#f i {
	font-size: 45px;
	margin: 15px;
}

#f a {
	color: #b9b9b9;
}

#f a:hover {
	color: #03C9A9;
}
